body{
	/*background-image: url(src: img/revo-01.jpg);*/
	background-color: #828282;
	font-style: arial, san-serif, times new roman;
}

/*a{
	text-decoration: none;
	text-align: center;
	background-color: #00d4ff;
	margin: 5%;
	padding: 20px 15% 20px 15%;
	border-radius: 5px;
}
a:hover{
	background-color: #828282;
	color:white;
}
.btncss{
	margin-top: 20%;
	text-align: center;
}*/