    .curve{border-radius: 40px 40px 40px 40px;padding: 2px;border:1px solid #cfcccc;}
  	/*hr{background-color: #cfcccc;height: 2px;width: 665px;margin-left: -20px}*/
  	body{padding-top: 80px}
  	h3{font-family: 'Convergence', sans-serif;;color: #424242;}
    a{color: #424242;}
    .color{color: gray;}
    .well{background-color: white;}
    .line{margin-top: 10px;border:1px solid #cfcccc;}
    .lin{margin-top: 10px;border:1px solid #cfcccc;}
    