body{
	background-color: #EDEDF9;
}
.imglog{
  width: 100px;
  height: 100px;
  /*margin-top: px;*/
  margin-top: 1px;
  float: left;
	margin-right: 10px;
}
.image{
	height:350px;
	width:320px;
	margin-top: 15px;
	margin-left: 4px;
}
.imageModal{


}
.imag{
	height:200px;
	width:320px;
	/*margin-right: 1px;*/
}

.logo{
	/*margin-top: 1px;*/
	width: 60px;
  height: 60px;

}
.c_list{
  width: 300px;
  height: 120px;
  border-radius: 50px;


}
.c_text{
	text-align: left;
	font-size: 12px;
}
.txt-mar{
	margin-top: 10px;
}
