.navback{
	margin: 0px;
	padding: 0px;
	/*overflow: hidden;*/
	background-color: #dddddd;
	height: 70px;
	clear: both;
	width: auto;
	/*display: table;
	/*box-shadow: 2px 2px 3px 3px #a1a1a1;*/
	position: fixed;
	top: 0;
	z-index: 999;
}

.navmen{
	margin-top: 20px;
	padding: 20px;
	/*overflow: hidden;*/
	background-color: #dddddd;
	/*height: 60px;*/
	/*clear: both;*/
	width: auto;
}

/*.container{
	margin-left: 20px;
	margin-right: 20px;
	top: 0;
	overflow: hidden;
	z-index: 999;
}*/

a:active{
	background-color: white;
}
li:active{
	background-color: white;
}



body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.back{
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 600px;
	background-image: url(../img/revo-01.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 700px;
	/*box-shadow: 2px 2px 3px 3px #a1a1a1;*/
}

.hd-top{

	margin: 0px;
	/*text-align: center;*/
	color: white;
	font-size: 50px;
	text-shadow: 2px 2px 4px black;
	/*width: 100px;*/
}

.hd-top a{
	text-decoration: none;
}

#headid{
	position: absolute;
	text-align: center;
	width: 100%;
	/*top: 50%;
	margin-top: -90px;*/
	margin-top: 23%;
	text-shadow: 3px 3px 4px white;
	font-size: 180px;
	overflow: hidden;
}

ul{
	list-style-type: none;
}

/*li{
	float: right;
}*/
li a{
	color: black;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover{
	background-color: white;
}

.container3{
	/*overflow: hidden;*/
	margin-left:auto;
	margin-right:auto;
	padding-left:15px;
	padding-right:15px;
	overflow: hidden
}


.container3::after{
	content:"";
	display:table;
	clear:both
}

.col2, .col8, .col3{
	/*position:relative;*/
	min-height:1px;
	padding-right:15px;
	padding-left:15px;

}

.col2{
	float:left;
	width:20%;
}

.col2b{
	float:right;
	width:15%;
}


.col3{
	float: left;
	width: 30%;
}

.col8{
	float:left;
	width:70%;
}

.mydetails{
	width: 50%;
	margin: 10px auto;
}

/*.row{
	clear: left;
	margin-left:-15px;
	margin-right:-15px;
}

.row::after{
	content:"";
	display:table;
	clear:both;
}*/
#myBtn, #myBtn1, #myBtn2, #myBtn3, 
#myBtn4, #myBtn5, #myBtn6, #myBtn7, 
#myBtn8, #myBtn9, #myBtn10 {
    background-color: #3c1911;
    color: white;
    padding: 10px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

#myBtn:hover, #myBtn1:hover, #myBtn2:hover, #myBtn3:hover, 
#myBtn4:hover, #myBtn5:hover, #myBtn6:hover, #myBtn7:hover, 
#myBtn8:hover, #myBtn9:hover, #myBtn10:hover  {
    opacity: 0.8;
}

/*.imgclass{
	width: 200px;
	height: 200px;
}*/


#footer{
	margin-top: 80px;
	text-align: center;
}